@import "../../util/colors.css";

#Title {
    margin: margin-top;
    font-family: arial, sans-serif;
    text-align: center;
    color: var(--label)
  }


 
  
  
  #Current_Items {
    margin: auto;
    margin: auto;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid var(--background);
    width: 70%;
    
  }
  
  #Current_Items td, #Current_Items th {
    border: 1px solid var(--background);
    padding-top: 15px;
    padding-bottom: 15px;
    
  }
  
  #Current_Items tr:nth-child(even){background-color: var(--title);}
  
  #Current_Items tr:hover {background-color: var(--hover);}
  
  #Current_Items th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--theme);
    color: var(--title);
  }