
.signin-container {
    width: 100%;
}

.signin-inventor-title {
    display: inline-flex;
    width: 100%;
}
.signin-inventor-title h2 {
    color: #0e7e92;
    margin-left: 40%;
    top: 1em;
    font-size: 2.0em;
}
.password{
    position: absolute;
    top: 15em;
    left: 2.4em;
    width: 17em;
    height: 1.6em;
}
.email{
    position: absolute;
    top: 8em;
    left: 2.4em;
    width: 17em;
    height: 1.6em;
}
.lbox{
    height : 37em;
}
.login-box {
    position: relative;
    margin-left: 34%;
    top: 2em;
    padding-bottom: 5em;
    width: auto;
    transition: 0.2s;
}
.login-account {
    position: absolute;
    top: 14em;
    left: 1.6em;
    padding: 0.8em;
    font-size: 1.3em;
    color: white;
    background-color: #0e7e92;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
}
.create-account {
    position: absolute;
    top: 24em;
    left: 1.6em;
    padding: 0.8em;
    font-size: 1.3em;
    color: white;
    background-color: #0e7e92;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
}
.or-message{
    position: absolute;
    top: 20em;
    left: 1.6em;
    font-size: 1.3em;
    color: #0e7e92;
}

.Password{
    position: absolute;
    top: 6em;
    left: 1.6em;
    font-size: 1.3em;
    color: #0e7e92;
}
.Email{
    position: absolute;
    top: 1.6em;
    left: 1.6em;
    font-size: 1.3em;
    color: #0e7e92;
}