@media (prefers-color-scheme: light) {
    :root{
        --text: #000000;
        --accent: #979797;
        --background: #ffffff;
        --theme: #0e7e92;
        --button: #0e7e92;
        --buttonText: #ffffff;
        --title: #ffffff;
        --label: #0e7e92;
        --icon: #36244f;
        --hover: #dddddd;
        --objectsText: #ffffff;
        --folder: #0e7e92;
        --header: #0e7e92;
        --folderText: #ffffff;
        --rowAccent: #ffffff;
        --row: #ffffff;
        --tableText: #000000;
    }
    
}
@media (prefers-color-scheme: dark) {
    :root{
        --text: #ffffff;
        --accent: #fffc40;
        --background: #333333;
        --theme: #001e38;
        --button: #f4ebc1;
        --buttonText: #ffffff;
        --title: #ffffff;
        --label: #ffffff;
        --icon: #36244f;
        --hover: #ffffff;
        --objectsText: #ffffff;
        --folder: #001e38;
        --header: #3f9388;
        --folderText: #ffffff;
        --rowAccent: #00bfff;
        --row: #00b3b3;
        --tableText: #000000;
    }
}
body{
    background-color: var(--background);
} 