@media (prefers-color-scheme: light) {
    :root{
        --text: #000000;
        --accent: #fffc40;
        --background: #ffffff;
        --theme: #3f9388;
        --button: #f4ebc1;
        --buttonText: #ffffff;
        --title: #ffffff;
        --label: #000000;
        --icon: #36244f;
        --hover: #ffffff;
        --objectsText: #ffffff;
    }
    
}
@media (prefers-color-scheme: dark) {
    :root{
        --text: #ffffff;
        --accent: #fffc40;
        --background: #333333;
        --theme: #001e38;
        --button: #f4ebc1;
        --buttonText: #ffffff;
        --title: #ffffff;
        --label: #ffffff;
        --icon: #36244f;
        --hover: #ffffff;
        --objectsText: #ffffff;
    }
}
body{
    background-color: var(--background);
} 