.area{
  padding: 5%;
  position: relative;
  border-radius: 20px;
  width: 10%;
  min-width: 100px;
  min-height: 100px;
  margin: 2%;
  display: inline-block;
  overflow: hidden;
  }

.icon{
  position: absolute;
  top: 0;
  right: 0;
  padding: 3%;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  outline: none;
}
.icon:hover{
  background-color:gray;
}
.textTittle{
  font-size: 200%;
  text-shadow: none;
  position: absolute;
  color: white;
  left: 0;
  padding-left: 10%;
  top: 20%;
  padding: 5%;
}
.textAmount{
  font-size: 100%;
  position: absolute;
  color: white;
  padding-left: 10%;
  padding: 5%;
  bottom: 2%;
  right: 2%;
}