.container{
  width:auto; 
  overflow-y:scroll; 
  position:relative;
  height: 800px;
}
.area{
  padding: 5%;
  position: relative;
  border-radius: 20px;
  width: 10%;
  min-width: 100px;
  min-height: 100px;
  margin: 2%;
  display: inline-block;
  }

.icon{
  position: absolute;
  top: 0;
  right: 0;
  padding: 3%;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
}
.icon:hover{
  background-color:gray;
}
.textTittle{
  font-size: 200%;
  text-shadow: none;
  position: absolute;
  color: white;
  left: 10%;
  top: 20%;
  padding: 5%;
}
.textAmount{
  font-size: 100%;
  position: absolute;
  color: white;
  padding-left: 10%;
  padding: 5%;
  bottom: 2%;
  right: 2%;
}