body { 
    background-color: white;
}
.home-title{
    height: 100vh;
    display:block;
    background-color:white;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:400px;
    height: 380px;
}
.primary{
    color: #139187;
    font-size: 17px;
    font-style: italic;
    text-align: center;
}
.secondary{
    color : black;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
.click{
    color: black;
    display: block;
    
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}
