.createacct-inventor-title {
    display: inline-flex;
    width: 100%;
}
.createacct-inventor-title h2 {
    color: #0e7e92;
    margin-left: 35%;
    margin-top: 1em;
    font-size: 1.8em;
}
.email2{
    position: absolute;
    margin-top: 11.7em;
    margin-left: -53.2em;
}

.first{
    position: absolute;
    margin-top: 16.7em;
    margin-left: -53.2em;
}

.last{
    position: absolute;
    margin-top: 21.3em;
    margin-left: -53.2em;
}
.phone{
    position: absolute;
    margin-top: 25.9em;
    margin-left: -53.2em;
}
.password2{
    position: absolute;
    margin-top: 30.6em;
    margin-left: -53.2em;
}



.Fname{
    position: absolute;
    top: 8.5em;
    left: 19.6em;
    font-size: 1.2em;
    color: #0e7e92;
}
.Email2{
    position: absolute;
    top: 5em;
    left: 19.6em;
    font-size: 1.2em;
    color: #0e7e92;
}
.Lname{
    position: absolute;
    top: 11.8em;
    left: 19.6em;
    font-size: 1.2em;
    color: #0e7e92;
}
.Phone{
    position: absolute;
    top: 15em;
    left: 19.6em;
    font-size: 1.2em;
    color: #0e7e92;
}
.Password2{
    position: absolute;
    top: 18.2em;
    left: 19.6em;
    font-size: 1.2em;
    color: #0e7e92;
}
.goto-account {
    position: absolute;
    top: 29em;
    left: 23.6em;
    padding: 0.8em;
    font-size: 1.0em;
    color: white;
    background-color: #0e7e92;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
}
.calogo{
    position: relative;
    margin-left: 65%;
    margin-top: 5%;
    padding-bottom: 0%;
    transition: 0.2s;
}