#Title {
    margin: margin-top;
    font-family: arial, sans-serif;
    text-align: center;
  }
 
  
  
  #Current_Items {
    margin: auto;
    margin:auto;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 70%;
    
  }
  
  #Current_Items td, #Current_Items th {
    border: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
    
  }
  
  #Current_Items tr:nth-child(even){background-color: #f2f2f2;}
  
  #Current_Items tr:hover {background-color: #ddd;}
  
  #Current_Items th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0e7e92;
    color: white;
  }