@import "../util/colors.css";
.loading-container-stats{
    position: relative;
    background-color: rgb(255, 255, 255);
    opacity: 40%;
    height: 100vh;
    width: 100%;
    
    
}

.Circle1{
    margin-left: 12%;
    margin-top: 3em;
    
}

.Circle2{
    margin-left: 32%;
    margin-top: -12.5em;
    
}

.Circle3{
    margin-left: 52%;
    margin-top: -12.5em;
    
}

.Circle4{
    margin-left: 72%;
    margin-top: -12.5em;
    
}

.Circle5{
    margin-left: 12%;
    margin-top: 7.5em;
    

}

.Circle6{
    margin-left: 32%;
    margin-top: -12.5em;
}

.Circle7{
    margin-left: 52%;
    margin-top: -12.5em;
}

.Circle8{
    margin-left: 72%;
    margin-top: -12.5em;
}


.Circle_1{
    font-weight: bold;
    position: relative;
    margin-top: 1.7em;
    margin-left: 1.3em;
    font-size: 1.6em;
    color: var(--label);
}

.Circle_2{
    font-weight: bold;
    position: relative;
    margin-top: 1.7em;
    margin-left: 1em;
    font-size: 1.6em;
    color: var(--label);
}

.Circle_3{
    font-weight: bold;
    position: relative;
    margin-top: 1.7em;
    margin-left: 0.6em;
    font-size: 1.6em;
    color: var(--label);
}

.Circle_4{
    font-weight: bold;
    position: relative;
    margin-top: 1.7em;
    margin-left: 1.2em;
    font-size: 1.6em;
    color: var(--label);
}

.Circle_5{
    font-weight: bold;
    position: relative;
    margin-top: 1.7em;
    margin-left: 0.4em;
    font-size: 1.6em;
    width: 12em;
    color: var(--label);
}

.Circle_6{
    font-weight: bold;
    position: relative;
    margin-top: 1.7em;
    margin-left: 1.4em;
    font-size: 1.6em;
    color: var(--label);
}

.Circle_7{
    font-weight: bold;
    position: relative;
    margin-top: 1.7em;
    margin-left: 0.4em;
    font-size: 1.6em;
    color: var(--label);
}

.Circle_8{
    font-weight: bold;
    position: relative;
    margin-top: 1.7em;
    margin-left: -1em;
    width: 12em;
    font-size: 1.6em;
    color: var(--label);
}